

.products-container{
    background: none;
    background-color: #372b30;
}
.products-container>div>section{
    max-width: 1300px;
    margin-bottom: 2rem;
}
.product-card {
    border: 2px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
    grid-column: span 3;
    height: fit-content;
}

.product-card:hover {
    border-color: orange;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px rgba(255, 165, 0, 0.25);
}

.img-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-box .img {
    width: 100%;
    height: 280px;
    position: relative;
}

.details {
    padding: 12px;
}

.details h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: orange;
    margin-bottom: 12px;
}

.view-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: orange;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.view-btn:hover {
    background: #ff8a00;
}

@media (max-width: 800px) {
    .product-card{
        grid-column: span 6;
        height: fit-content;
    }
    .img-box .img {
    width: 100%;
    height: 220px;
    position: relative;
}
.products-container>div>section{
    margin-bottom: 1rem;
    padding: 0 1rem;
}
}