

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  color: #333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.page{
  min-height: fit-content;
  background-color: #eee;
}
section{
  max-width: 1300px;
  width: 100%;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  grid-template-rows: auto;
}


.column{
  flex-direction: column;
  align-items: flex-start;
}

button{
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover{
  background-color: green;
}
.whatsapp-buttun-container{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: green;
  position: fixed;
  right: 80;
  bottom: 80;
  z-index: 2000;
}
.whatsapp-buttun-container button{
  background: none;
}
.whatsapp-buttun-container button i{
  font-size: 60px;
  color: rgb(255, 255, 255);
}

@media (max-width: 800px) {
  .whatsapp-buttun-container{
    z-index: 200;
    right: 40;
}
.whatsapp-buttun-container button i{
  font-size: 60px;
}
}