

/*--------categories----------*/
.categories section{
    padding: 1rem;
    max-width: 1200px;
}
.cat-card{
    margin-top: 2rem;
    grid-column: span 2;
    text-align: center;
    color: gold;
}


@media (max-width: 800px) {
    .categories section{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    scrollbar-width: auto;
    overflow-x: scroll;
}

}
/*--------Featured-----------*/

.featured-products h2{
    padding-top: 2rem;
}
/*--------cetagory-product-------*/ 
.cat-container section{
  max-width: 1300px;
}
.cat-container section .texts{
  grid-column: span 3;
  color: gold;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: flex-end;
}
.cat-container section .texts>div{
  padding: 1rem;
}
.cat-container section .texts h3{
 font-size: 24px;
}

.cat-container section .cat-product{
  grid-column: span 9;
}
@media (max-width: 800px) {
    .cat-container section {
  display: block;
  padding: 0 1rem;
}
.featured-products{
  padding: 0 1rem;
}
.cat-group{
  max-width: 260px;
}

}

/*-----------*/
.search-dropdown {
    border-radius: 4px;
}

.search-item:hover {
    background: #f0f0f0;
    cursor: pointer;
}


.cat-group{
  display: flex;
  flex-direction: column;
  position: relative;
}


.cat-group img{
  height:auto;
  width: 100%;
}

.cat-group h1{
  position: absolute;
  bottom: 40;
  color: white;
}