

/*--------categories----------*/
.categories section{
    padding: 1rem;
    max-width: 1200px;
}
.cat-card{
    margin-top: 2rem;
    grid-column: span 2;
    text-align: center;
    color: gold;
}

.cat-card img{
    width:100% ;
}

@media (max-width: 800px) {
    .categories section{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    scrollbar-width: auto;
    overflow-x: scroll;
}
.cat-card{
    width: 200px;
}

}
/*--------Featured-----------*/

.featured-products h2{
    padding-top: 2rem;
}
/*--------cetagory-product-------*/ 
.cat-container section{
  max-width: 1300px;
}
.cat-container section .texts{
  grid-column: span 3;
  color: gold;
}
.cat-container section .texts>div{
  padding: 1rem;
}
.cat-container section .texts h3{
 font-size: 24px;
}
.cat-container section .texts img{
  width: 100%;
  height: auto;
}
.cat-container section .cat-product{
  grid-column: span 9;
}
@media (max-width: 800px) {
    .cat-container section {
  display: block;
  padding: 0 1rem;
}
.featured-products{
  padding: 0 1rem;
}

.cat-container section .texts img{
  width: 50%;
  height: auto;
}
}

/*-----------*/
.search-dropdown {
    border-radius: 4px;
}

.search-item:hover {
    background: #f0f0f0;
    cursor: pointer;
}
