

.main-page .product-list{
    margin: 0;
    padding: 0;
}

.product-list{
    gap: 1rem;
    width: 100%;
}
.product-card{
    grid-column: span 3;
    background-color: #fff;
    padding: 1rem;
    position: relative;
}

.product-card img{
    width: 100%;
}

.product-card i{
    position: absolute;
    top: 1rem;
    right: 20;
    cursor: pointer;
    font-size: large;
}

.product-card .menu{
    position: absolute;
    top: 2rem;
    right: 1rem;
    cursor: pointer;
    font-size: large;
    align-items: flex-end;
    background-color: #fff;
    gap: 1rem;
    padding: 1rem;
    display: none;
}

.product-card .show-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 800px) {
    .product-list .product-card{
        grid-column: span 6;
    }
}