.footer {
  background-color: #372b30; /* Black */
  color: #fff;
  padding: 60px 20px 20px;
  border-top: 5px solid #ff7a00; /* Orange Accent */
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-section h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ff7a00; /* Orange */
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 18px;
  color: #ddd;
  line-height: 1.6;
}

.footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #0b9b53; /* Deep Green */
}

.footer-section ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #ff7a00; /* Orange on hover */
}

.social-icons a {
  display: inline-block;
  margin-right: 12px;
  font-size: 18px;
  color: #fff;
  background: #0b9b53; /* Deep green */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  margin: 1rem 0;
}
.social-icons a:last-child{
  background-color: red;
}
.social-icons a:first-child{
  background-color: rgb(0, 106, 255);
}
.social-icons a:hover {
  background: #ff7a00; /* Orange Hover */
  transform: translateY(-3px);
}

.footer-bottom {
  text-align: center;
  padding: 15px 0 0;
  margin-top: 20px;
  color: #888;
  font-size: 18px;
  border-top: 1px solid #333;
}
.contact i{
  font-size: 24px;
  color: orange;
}

.payment{
  width: 100%;
}

.payment img{
  width: 100%;
  height: auto;
}