.footer {
  background-color: #21191c; /* Black */
  color: #fff;
  padding: 60px 20px 20px;
  border-top: 5px solid #ff7a00; /* Orange Accent */
  font-family: "Poppins", sans-serif;
}

.footer-container {
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.footer-section{
  grid-column: span 3;
}
.footer-section h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ff7a00; /* Orange */
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 18px;
  color: #ddd;
  line-height: 1.6;
}

.footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #0b9b53; /* Deep Green */
}

.footer-section ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #ff7a00; /* Orange on hover */
}



.bottom-container{
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}

.social-icons a {
  display: inline-block;
  margin-right: 12px;
  font-size: 18px;
  color: #fff;
  background: #0b9b53; /* Deep green */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  margin: 1rem 0;
}
.social-icons a:last-child{
  background-color: red;
}
.social-icons a:first-child{
  background-color: rgb(0, 106, 255);
}
.social-icons a:hover {
  background: #ff7a00; /* Orange Hover */
  transform: translateY(-3px);
}

.footer-bottom {
  text-align: center;
  padding: 15px 0 0;
  margin-top: 20px;
  color: #888;
  font-size: 18px;
  border-top: 1px solid #333;
}
.contact i{
  font-size: 24px;
  color: orange;
}
.contact li{
  line-height: 1.5rem;
}
.links, .categories{
  height: 100%;
  margin-bottom: 2rem;
}
.links a, .categories a{
  margin-top: 1rem;
}

.footer-section .cat-card {
  display: block;
  margin-top: 10px;
  font-size: large;
}
.footer-section .cat-card:hover {
  color: yellow;
}
.payment img{
  max-width: 600px;
  width: 100%;
  height: auto;
  display: inline;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-section{
    grid-column: span 2;
  }
}
.cat-container div{
  gap: 1rem;
}

.cat-container div a{
  font-size: large;
}