header {
  background-color: #372b30;
}


header .logo-nav{
  width: 100%;
  color: gold;
  align-items: flex-start;
  padding: 2rem;
}

header .logo-nav .menu-container{
  grid-column: span 4;
  justify-content: flex-start;
}
header .logo-nav .menu-container i,header .logo-nav .menu-container a{
  margin-right: 1rem;
}

header .logo-nav .menu-container .menu-bar i{
  font-size: 30px;
}
header .logo-nav .logo-container{
  grid-column: span 4;


}
header .logo-nav .logo-container img{
  width: 150px;
}
header .logo-nav .icons-container{
  grid-column: span 4;
  justify-content: flex-end;
}
header .logo-nav .icons-container .icon-a{
  height: 50px;
  width: 50px;
  background-color: gold;
  margin-left: 1rem;
  border-radius: 50%;
}
header .logo-nav .icons-container i{
  color: #333;
}

header .search-container{
  display: flex;
  width: 100%;
  padding: 0 2rem;
}

header .search-container .search-bar{
  width: 100%;
  display: block;
  padding-bottom: 2rem;
}
header .search-container input{
  width: 100%; 
  box-sizing: border-box;
  display: block;
  height: 50px;
  border-radius: 10px;
  padding: 0 1rem;
}
@media (max-width:800px) {
  header{
    padding: 0;
  }
  header .logo-nav{
    padding: 1rem;
  }

  header .menu-container .links{
    display: none;
    position: relative;
    width: 100%;
  }
   header .menu-container .links a{
    margin: 0.5rem 0;
  }
    header .menu-container .links.active{
      position: absolute;
    display: flex;
    top: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #513f46;
    justify-content: flex-start;
    z-index: 10;
    padding-left: 1rem;
    width: 280px;
  }
  header .logo-nav .logo-container img{
  width: 100px;
}
header .logo-nav .icons-container .icon-a{
  height: 30px;
  width: 30px;
}
  .navbar-container .dropdown{
    grid-column: span 6;
    z-index: 200;
  }

  .navbar-container .dropdown h3{
    padding-right: 2rem;
  }
  .menu-container {
    position: relative;
  }
  .navbar-container .links{
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    background:none;
    top: 100%;
    width: 100%;
    align-items: flex-end;
    z-index: 100;
  }
  .navbar-container .links.active{
    display: flex;
  }
  .navbar-container .links a{
    display: block;
    border-top: 1px solid #333;
    width: 100%;
    text-align: left;
    padding: 1rem 2rem;
  }
  .navbar-container .links a:hover{
    background-color: #eee;
  }
  header nav .links h3:hover::after{
  width: 0;
}
  .navbar-container .menu-bar{
    width: 100%;
    justify-content: flex-end;
  }
  .navbar-container .menu-bar i{
    font-size: 24px;
    width: 100%;
    text-align: left;
    padding-left: 2rem;
  }
  header nav .menu-container{
  grid-column: span 6;
  padding: 0;
}

}