
.hero{
  width: 100%;
}

.hero section{
  width: 1300px;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr;
}

.hero .hero-texts{
  grid-column: span 4;
  justify-content: space-between;
  grid-row: span 1;
}
.hero .hero-texts h1{
  color: gold;
  font-size: 50px;
  margin-bottom: 1rem;
}
.btn-div{
  grid-column: span 4;
  grid-row: span 1;
  justify-content: flex-end;
  align-items: flex-end;
}
.btn-container{
  width: 100%;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  gap: 5px;
  order: 10;
  margin-top: 2rem;
}

 .btn-container>button{
  width: 60%;
  height: 100%;
  font-size: larger;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
.btn-container .arrow-container{
  width: 30%;
  height: 100%;
  gap: 4px;
  align-items: flex-end;
}

 .btn-container .arrow-container button{
  width: 45%;
  height: 100%;
  background: none;
  border: 1px solid gray;
  font-size: large;
  cursor: pointer;
}
 .btn-container .arrow-container button:hover{
  background-color: gold;
}
.hero .hero-products{
  grid-column: span 8;
  grid-row: span 2;
  gap: 2rem;
}

.hero .hero-products img{
 width: 100%;
}


/* Responsive */
@media (max-width: 900px) {
  .hero section{
  width: 100%;
  display: block;
  padding: 0 2rem;
}
.hero .hero-texts{
  margin-bottom: 2rem;
  flex-direction: row;
}
.hero .hero-products a{
  width: 180px;
}
}
