.products-slider-container {
  width: 100%;
  overflow: hidden;
}

.section-title {
  font-size: 28px;
  text-align: center;
}
.products-slider-container section{
  max-width: 1300px;
}
/* Slider wrapper */
.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

/* Slider track */
.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.7s ease-in-out;
}

/* Product Card */
.product-card {
  min-width: 280px;
  border-radius: 0 0 14px 14px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  transition: 0.3s;
  position: relative;
  height: fit-content;
  border: 1px solid #eee;
}
.cat .product-card {
  min-width: 240px;
  border-radius: 0 0 14px 14px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  transition: 0.3s;
  position: relative;
  height: fit-content;
  border: 1px solid #eee;
}
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.18);
}


/* Text */
.product-card h3, .mobile-product h3, .web-product h3 {
  font-size: 20px;
  margin: 5px 0;
  color: #fff;
}

.product-card p {
  color: #ff7d29;
  font-size: 17px;
  font-weight: 600;
}

/* MOBILE GRID */
.mobile-grid{
  padding: 1rem 0;
}
.mobile-product {
  border: 1px solid #eee;
  border-radius: 6px;
  grid-column: span 6;
  height: fit-content;
}


.mobile-product div, .web-product div, .product-card div{
  justify-content: space-between;
  padding: 0 6px;
}
.mobile-product h3, .web-product h3, .product-card h3{
  justify-content: space-between;
  padding: 0 1rem;
}
.mobile-product div p:first-child, .web-product div p:first-child, .product-card div p:first-child {
  font-size: 18px;
  font-weight: 600;
  color: gold;
}
.mobile-product div p:last-child, .web-product div p:last-child, .product-card div p:last-child{
  font-size: 16px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  background-color: gold;
}
.web-grid{
  padding: 1rem 0;
}

.web-container section{
  max-width: 1300px;
}
.web-grid .web-product{
  grid-column: span 3;
  height: fit-content;
  color: gold;
  border: 1px solid #eee;
}
.size-div{
  display: none;
  flex-direction: row;
  gap: 2px;
  flex-wrap: wrap;
}
.size-div.show-size{
  display: flex;
}

.web-product .img, .mobile-product .img, .product-card .img{
  width: 100%;
  height: 280px;
  position: relative;
}

.cat .web-product .img, .cat .mobile-product .img, .cat .product-card .img{
  width: 100%;
  height: 220px;
  position: relative;
}
@media (max-width:800px) {
  .cat .mobile-product .img, .mobile-product .img{
    height: 180px;
  }
  .mobile-product div p:first-child, .web-product div p:first-child, .product-card div p:first-child {
  font-size: 20px;
  font-weight: 600;
  color: gold;
}
.mobile-product div p:last-child, .web-product div p:last-child, .product-card div p:last-child{
  font-size: 14px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  background-color: gold;
}

.mobile-product h3{
  font-size: 18px;
  padding: 0 5px;
}
}