/*------------Dashboard---------------*/

.dashboard-container {
  font-family: Arial, sans-serif;
}


.kpi-section {
  flex-wrap: wrap;
  width: 100%;
  gap: 6px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.kpi-card {
    max-width: 130px;
    width: 100%;
  padding: 5px;
  background: #eee;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.analytics-section{
  overflow: scroll;
}
.chart-placeholder{
  padding: 1rem 0.5rem;
  scrollbar-width: auto;
  width: 100%;
}

.tables-section {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.table-card {
  background: #eee;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-x: auto;
}

.table-card table {
  width: 100%;
  border-collapse: collapse;
}

.table-card th, .table-card td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.quick-actions {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.quick-actions button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.quick-actions button:hover {
  background: #1e40af;
  color: #fff;
}

.dashboard-footer {
  text-align: center;
  margin-top: 20px;
  color: #6b7280;
}

@media (max-width: 600px) {
    .kpi-section {
  width: 100%;
  gap: 2px;
}
    .kpi-card {
    max-width: 88px;
    width: 100%;
}
.quick-actions {
  justify-content: space-between;
}
}

@media (prefers-color-scheme: dark) {
    .table-card {
  background: #1d1d1d;}

  .kpi-card{
    background: #1d1d1d;
  }

}



