.navbar{
    display: none;
}
footer{
    display: none;
}
.whatsapp-buttun-container{
    display: none;
}
.admin-dashboard>.heading {
    height: fit-content;
    background-color: #eee;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
}

.admin-dashboard .heading .logout{
    font-size: 24px;
    cursor: pointer;
    position: relative;
    order: 3;

}

.admin-dashboard .heading  i{
    font-size: 30px;
    margin-left: 4rem;
    cursor: pointer;

}
.admin-dashboard .heading .logout:hover::after{
    content: "Logout";
    position: absolute;
    top: 28;
    right: 0;
    font-size: 18px;
    
}

.admin-dashboard section {
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
}

.admin-dashboard section h2{
    padding: 1rem;
    border-bottom: 4px solid #fff;
}
.admin-dashboard section .sidebar{
    grid-column: span 2;
    background-color: #eee;
}

.admin-dashboard section .sidebar ul{
    list-style: none;
}
.admin-dashboard section .sidebar .profile-component ul{
    border-bottom: 10px solid #ffffff;
}

.admin-dashboard section .sidebar .profile-component img{
    padding: 1rem;
}
.admin-dashboard section .sidebar .profile-component ul li{
    padding:10px 1rem;
    font-size: large;
}

.admin-dashboard section .sidebar>ul>li{
    padding: 15px 0;
    background-color: #cccccc;
    padding-left: 1rem;
    margin-bottom: 2px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}
.admin-dashboard section .sidebar>ul>li:hover{
    background-color: #bbb;
}
 .admin-dashboard section .sidebar>ul>li.active{
    background-color: #eee;
 }
.admin-dashboard section .sidebar ul li i{
    margin-right: 10px;
}
.admin-dashboard section .main-content{
    grid-column: span 7;
    background-color: #eee;
    height: 100%;
    overflow-y: auto;
    
}

.admin-dashboard section .notifications{
    grid-column: span 3;
    background-color: #eee;
    height: 100%;
    overflow-y: auto;
}
.admin-dashboard section .notifications h2 i{
    margin-right: 1rem;
}

.notifications ul li{
    border-bottom: 2px solid #ffffff;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    line-height: 20px;
}
.notifications ul li i{
    height: 100%;
    margin-right: .5rem;
    display: inline-block;
    height: 100%;
}

@media (max-width: 800px) {
    .admin-dashboard .heading .logout{
    order: 1;

}
    .admin-dashboard section {
        display: flex;
        flex-direction: column;
    }
    
    .admin-dashboard section {
    max-width: 100vw;
    height: fit-content;
    padding: 1rem;
}
    .admin-dashboard section .main-content{
    height: 100%;
    
}
.admin-dashboard section .notifications{
    order: -1;
}
}