
.main-page header,.main-page footer{
    display: none;
}
.main-page{
    min-height: 100vh;
}
.main-page section{
    max-width: 800px;
}
.main-page h2{
    text-align: center;
}

form{
    margin:0 1rem ;
}
 form .input-container input, button, textarea, select{
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    padding: 1rem;
    font-size: large;

}

 form label{
    margin: 5px 0;
    text-align: left;
} 
 form .size-stock{
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;
} 
 form .input-container textarea{
    height: 200px;
    font-size: large;
}

.desc-label h3{
    margin: 1rem 0;
    background-color: #fff;
    padding: .5rem 0;
}

.size-stock h3{
    text-align: left;
}

.alert{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80vh;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.2);
}

.showalert{
    display: block;
}

.cross{
    position: absolute;
    top: 20;
    right: 20;
}
.image-container{
    position: relative;
}

.image-container img{
    width: 180px;
}
.image-container i{
    position: absolute;
    top: 10;
    right: 10;
    z-index: 100;
    font-size: larger;
    color: red;
    background-color: #fff;
}

@media (max-width: 800px) {
    form{
    margin: 0;
}
}