
.single-product .size-quantity{
    height: fit-content;
    flex-direction: column;
    background-color: #fff;
}
.single-product .main-section{
    padding: 0 1rem;
}
.single-product .shortcuts{
    width: 100%;
    padding: 1rem;
}

.single-product .image-gallery{
    grid-column: span 6;
    height: fit-content;
}

.single-product .details{
    grid-column: span 6;
}
.single-product .details>h2{
    margin-bottom: 1rem ;
}
.single-product .details>p{
    margin-top: 2rem;
}
.related h2{
    margin-top: 2rem;
}
.related .products section{
    margin: 0;
    padding: 0;
}

.single-product .description {
    background-color: #fff;
    margin-top: 1rem;
    padding: 1rem;
}

.single-product .description ul {
    margin: 1rem;
}

@media (max-width: 800px) {
    .single-product .container{
        display: flex;
        flex-direction: column;
    }
}