
.category-product-page{
    padding: 0 2rem;
    padding-top: 60px;
}
.category-product-page section{
    width: 100%;
    padding: 0;
}

.category-product-page section .filter-component{
    grid-column: span 3;
    color: gold;
}
.category-product-page section .products-list{
    grid-column: span 9;
}
.category-product-page section .products-list .search-container{
    width: 100%;
}
.category-product-page section .products-list .search-container .search-bar{
    width: 100%;
}
.category-product-page section .products-list .search-container .search-bar input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.category-product-page section .products-list .web-grid{
    padding: 0;
}
.category-product-page section .products-list .web-grid .product{
    padding: 0;
}
.category-product-page section h3{
    text-align: left;
    width: 100%;
}
/*--------categories----------*/
.filter-component{

    gap: 6px;
    background-color: rgba(0, 0, 0, 0.05);
}
.filter-component a{
    max-width: 200px;
    width: 100%;
    background-color: #644f4f;
} 
.categories-cat-card{
    align-items: center;
} 
.categories-cat-card img{
    width: 100%;  
     height: auto;
}


@media (max-width: 800px) {
    .category-product-page section{
        width: 100%;
    }
    .category-product-page section{        
    display: grid;
    }
.category-product-page section .filter-component{
    grid-column: span 12;
}
.category-product-page .products-list{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.category-product-page .products-list .mobile-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .category-product-page .products-list .mobile-product h3{
        font-size: 18px;
   padding: 6px;
}
.mobile-product div p:first-child{
    font-size: 16px;
}
.categories-cat-card{
    flex-direction: row;
}
.categories-cat-card img{
    max-height: 200px;
}
}
